<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Some website</title>
  </head>
  <body>
      {{> header}}33
      <p>some text here</p>

      {{> footer}}

  </body>
</html>
