<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>My portfolio</title>
  </head>
  <body>
      {{> header}}
      <p>{{welcomeMsg}}</p>
      <ul>
          <li>Ilm Value Meal</li>
          <li>Allimnee.com</li>
          <li>pureheart.io</li>
      </ul>
      {{> footer}}

  </body>
</html>
